// I hate font licensing; Ideally we would be using Whitney, but i'm not out to pay $200+ for it
// This one looks really similar but isnt exact, but close enough.
@font-face {
	font-family: 'ROUTE 159';
	src: url(/fonts/route159-regular.otf);
	font-weight: normal;
}

@font-face {
	font-family: 'ROUTE 159';
	src: url(/fonts/route159-italic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'ROUTE 159';
	src: url(/fonts/route159-bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: 'ROUTE 159';
	src: url(/fonts/route159-bolditalic.otf);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'ROUTE 159';
	src: url(/fonts/route159-semibold.otf);
	font-weight: 600;
}

@font-face {
	font-family: 'ROUTE 159';
	src: url(/fonts/route159-semibolditalic.otf);
	font-weight: 600;
	font-style: italic;
}

:root {
	--primary: #3d986c;
	--primary-bright: #58f287;
	--bg: #292b2f;
	--dark: #202225;
	--dark-2: #1b1d1f;
	--text: #ffffff;
	--max-width: 900px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: var(--text);
	background-color: var(--bg);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Whitney, 'ROUTE 159', sans-serif;
}

a {
	color: var(--light);
	text-decoration-color: hsla(0, 0%, 100%, 0.4);
	text-decoration-thickness: 2px;
	&:hover {
		text-decoration-color: var(--light);
	}

	&:active {
		color: var(--primary-bright);
		text-decoration-color: var(--primary-bright);
	}
}
