// I hate font licensing; Ideally we would be using Whitney, but i'm not out to pay $200+ for it
// This one looks really similar but isnt exact, but close enough.
@font-face {
	font-family: 'IBM Plex Sans';
	src: url(/fonts/IBMPlexSans-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: 'IBM Plex Sans';
	src: url(/fonts/IBMPlexSans-Italic.ttf);
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'IBM Plex Sans';
	src: url(/fonts/IBMPlexSans-SemiBold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: 'IBM Plex Sans';
	src: url(/fonts/IBMPlexSans-SemiBoldItalic.ttf);
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sauce One';
	src: url(/fonts/OpenSauceOne-Bold.ttf);
	font-weight: 700;
}

:root {
	--primary: #3d986c;
	--primary-bright: #58f287;
	--bg: #292b2f;
	--dark: #202225;
	--dark-2: #1b1d1f;
	--text: #ffffff;
	--max-width: 900px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--text);
	background-color: var(--bg);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1,
h2,
h3 {
	font-family: 'Open Sauce One', sans-serif;
	font-weight: 700;
}

a {
	color: var(--light);
	text-decoration-color: hsla(0, 0%, 100%, 0.4);
	text-decoration-thickness: 2px;
	&:hover {
		text-decoration-color: var(--light);
	}

	&:active {
		color: var(--primary-bright);
		text-decoration-color: var(--primary-bright);
	}
}
